<header>
  <nav>
    <ul>
      <li><a href="/"><img src="/img/small-logo.png" alt="Home gamer logo" class="logo"></a></li>
      <li><a href="/display"><span>Main Display</span></a></li>
      <li><a href="/tournament-structure"><span>Tournament Settings</span></a></li>
      <li><a href="/player-settings"><span>Player Settings</span></a></li>
      {{#if (or (eq user.role 'admin') (eq user.role 'manager'))}}
      <li><a href="/manage-users"><span>Create User</span></a></li>
      {{/if}}
    </ul>
  </nav>
</header>
