# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Scripts
scripts/createAdmin.js

# Vim session files
sessions/

# DB Files
models/home-gamer-sqlite

# Any file with an old extension
**/*.old
