body{
    background:green;
    text-align: center;
}
.clock
{
    font-size: 100px;
    margin: 0 auto;
}
.settings_menu{
    width: 50%;
    margin: 0 auto;
    grid-template-columns: auto auto auto auto;
    place-items: center;
}

/* Hide number input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
    width: 30%;
    text-align: center;
  -moz-appearance: textfield;
}

