body{
    background:green;
    text-align: center;
}
.clock
{
    font-size: 100px;
    margin: 0 auto;
}
.settings_menu{
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
input
{
    width:15%;
}

