<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home gamer</title>
    <link rel="stylesheet" type="text/css" href="/css/css.css">
    {{#if css}}
        <link rel="stylesheet" href="/css/{{css}}" />
    {{/if}}
    {{#if js}}
        <script type="text/javascript" src="/js/{{js}}" defer></script>
    {{/if}}
</head>
<body>
    {{{body}}}
</body>
</html>
