<header>
<nav>
    <ul>
        <li><a><img src="/img/small-logo.png" alt="Home gamer logo" class="logo"></a></li>
            <li><a href="/display"><span>Main Display</span></a></li>
            <li><a href="/tournament-settings"><span>Tournament Settings</span></a></li>
            <li><a href="/player-settings"><span>Player Settings</span></a></li>
        </ul>
    </nav>
</header>

<!-- MAIN CONTENT -->
<div id="main">
    <div id="left">
        <div id="round_number"></div>
        <div>Players</div>
        <div id="player_count_display">0 / 0</div>
        <div>Average</div>
        <div id="average">0</div>
    </div>
    <div id="center">
        <div id="clock"></div>
        <div id="current_level"></div>
        <div id="next_level"></div>
<button id="start_button"><i class="fas fa-play"></i></button>
    </div>
    <div id="right">
        <div id="time_elapsed">Time elapsed</div>
        <div id="next_break">Next break</div>
        <div>Chip count</div>
        <div id="chip_count">0</div>
    </div>
</div>
<div id="count_display">
    <span class="general_display">Buy-in</span>
    <span class="general_display">Rebuy</span>
    <span class="general_display">Addon</span>
</div>
<div id="main_footer">
    <div>Pot total</div>
    <span>R$ </span><span id="pot_total">0</span>
</div>
