<!-- Background image -->
<div class="background"></div>

<!-- Semi-transparent overlay -->
<div class="overlay"></div>

<!-- Logo -->
<img src="/img/default-monochrome.svg" alt="Home gamer logo" class="logo">

<!-- Text container -->
<div class="container">
	<h2>Management system for home game poker tournaments</h2>
<!-- Button container -->
        <div class="button-container">
            <a href="/login" class="button">Login</a>
            <a href="/signup" class="button">Sign Up</a>
        </div>
</div>
