<header>
<nav>
    <ul>
        <li><a><img src="/img/small-logo.png" alt="Home gamer logo" class="logo"></a></li>
            <li><a href="/display"><span>Main Display</span></a></li>
            <li><a href="/tournament-settings"><span>Tournament Settings</span></a></li>
            <li><a href="/player-settings"><span>Player Standings</span></a></li>
        </ul>
    </nav>
</header>

<div id="player_structure_menu">
    <div id="players_in">Players in</div>
    <div id="players_out">Players out</div>
</div>
<form autocomplete="off">
<div id="add_player_menu">
<div id="player_menu_content">
<span></span><span></span><span></span>
<span class="right">&times;</span>
<label for="">Name</label>
<input type="text" id="player_name">
<label for="buyin">Buy in</label>
<input type="checkbox" id="buyin" checked>
    <label for="rebuy">Rebuy</label>
    <input type="number" id="rebuy">
        <label for="addon">Add on</label>
        <input type="checkbox" id="addon">
            <button type="button" id="add_player_button2">Add player</button>
            <button type="reset">Reset</button>
        </div>
    </div>
</form>
