{{> header}}
<!-- Form for adding players -->
<form autocomplete="off">
    <div id="add_player_menu">
        <div id="player_menu_content">
            <span></span><span></span><span></span>
            <span class="right">&times;</span>
            <label for="">Name</label>
            <input type="text" id="player_name">
            <label for="buyin">Buy in</label>
            <input type="checkbox" id="buyin" checked>
            <label for="rebuy">Rebuy</label>
            <input type="number" id="rebuy">
            <label for="addon">Add on</label>
            <input type="checkbox" id="addon">
            <button type="button" id="add_player_button">Add player</button>
            <button type="reset">Reset</button>
        </div>
    </div>
</form>

<!-- Player structure menu -->
<div id="player_structure_menu">
    <div id="players_in">Players in</div>
    <div id="players_out">Players out</div>
</div>
