<div class="container">
  <h2>Reset Password</h2>
  {{#if error}}<p class="error">{{error}}</p>{{/if}}
  <form action="/reset/{{token}}" method="post">
    <input type="hidden" name="token" value="{{token}}">
    <label for="password">New Password:</label><br>
    <input type="password" id="password" name="password" required><br>
    <label for="confirm">Confirm Password:</label><br>
    <input type="password" id="confirm" name="confirm" required><br><br>
    <button type="submit">Reset Password</button>
  </form>
</div>
