/* GENERAL STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #366164;
  height: 100%;
  color: #53BBAD;
}

/* MENU STYLES */
nav {
  margin-bottom: 40px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav li a {
  float: left;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
}

nav li a:hover {
  background-color: #f0f0f0;
}
/* SETTINGS MENU STYLES */
#settings_menu {
  border: white solid 1px;
}

#general_settings {
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
}

#blind_structure {
  display: grid;
  grid-template-columns: auto auto auto auto;
  place-items: center;
}

#players_in>* {
  display: grid;
  grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
  padding: 10px;
}

