/* GENERAL STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #366164;
  height: 100%;
  color: #53BBAD;
}

/* MENU STYLES */
nav {
  margin-bottom: 40px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav li a {
  float: left;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
}

nav li a:hover {
  background-color: #f0f0f0;
}
