#main {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  background-color: rgb(27, 30, 31);
  /* Match login background color */
  color: #53bbad;
  /* Match login text color */
  padding: 20px;
  border: 1px solid #ccc;
  /* Match login border color */
  border-radius: 5px;
}

#center {
  margin-top: -30px;
  text-align: center;
}

#right {
  text-align: right;
}

#round_number {
  font-size: 4vw;
}

#clock {
  font-size: 15vw;
}

#current_level {
  font-size: 4vw;
}

#start_button {
  background-color: #366164;
  /* Match login button color */
  border: 1px solid #366164;
  /* Match login button color */
  border-radius: 50%;
  padding: 12px 24px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 24px;
  color: white;
}

#start_button i {
  color: white;
}

#count_display {
  text-align: right;
}

.general_display {
  margin: 10px;
  color: #53bbad;
  /* Match login text color */
}

/* Responsive Design */
@media (max-width: 768px) {
  #main {
    grid-template-columns: 1fr;
  }

  #round_number,
  #current_level {
    font-size: 8vw;
  }

  #clock {
    font-size: 20vw;
  }

  #count_display {
    text-align: center;
  }
}
