#main {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  background-color: rgb(27, 30, 31);
  /* Match login background color */
  color: #53bbad;
  /* Match login text color */
  padding: 20px;
  border: 1px solid #ccc;
  /* Match login border color */
  border-radius: 5px;
  font-size: 150%;
}

#center {
  margin-top: -30px;
  text-align: center;
}

#right {
  text-align: right;
}

#round_number {
  font-size: 4vw;
}

#clock {
  font-size: 15vw;
}

#current_level {
  font-size: 4vw;
}

#start_button {
  background-color: #399387;
  /* Match login button color */
  border: 1px solid #286855;
  /* Match login button color */
  border-radius: 50%;
  padding: 12px 24px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 24px;
  color: white;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 10px rgba(5, 5, 5, 2);
  /* Sombra no hover */
}

/* Efeito de hover */
#start_button:hover {
  background-color: #185914;
  /* Cor de fundo mais escura no hover */
  border-color: #2a4d4e;
  /* Cor da borda combinando no hover */
  box-shadow: 0 0 10px rgba(189, 186, 186, 0.2);
  /* Sombra no hover */
}

/* Estilo para o modo stop */
#start_button.stop-mode {
  background-color: #a83232;
  /* Cor de fundo vermelha */
  border-color: #a83232;
  /* Cor da borda vermelha */
}

/* Efeito de hover no modo stop */
#start_button.stop-mode:hover {
  background-color: #921d1d;
  /* Cor de fundo mais escura no hover */
  border-color: #921d1d;
  /* Cor da borda no hover */
}

#start_button i {
  color: white;
}

#count_display {
  text-align: right;
  margin-right: 20px;
  margin-top: 5px;
  font-size: 150%;
}

.general_display {
  margin: 10px;
  color: #53bbad;
  /* Match login text color */
}

/*=================== doglas */
#main_footer {
  margin-left: 20px;
  color: #53bbad;
  font-size: medium;
  margin-top: -20px;
  font-size: 150%;
}

/* Responsive Design */
@media (max-width: 768px) {
  #main {
    grid-template-columns: 1fr;
  }

  #round_number,
  #current_level {
    font-size: 8vw;
  }

  #clock {
    font-size: 20vw;
  }

  #count_display {
    text-align: center;
  }
}

.buyin_count {
  color: #53bbad;
}

.rebuy_count {
  color: #53bbad;
}

.addon_count {
  color: #53bbad;
}
