.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.header {
  font-weight: bold;
  background-color: #2a3e41;
  /* Dark green background color */
  padding: 10px;
  display: contents;
  color: #e0e0e0;
  /* Light gray text color */
}

.row {
  display: contents;
}

.grid-container>div {
  border: 1px solid #4b757b;
  /* Dark green border color */
  padding: 10px;
  background-color: #1b2e32;
  /* Darker dark green background color */
  color: #e0e0e0;
  /* Light gray text color */
}

.search-container {
  display: flex;
  justify-content: center;
}

#search-form {
  display: flex;
}

#search-input {
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #4b757b;
  /* Dark green border color */
  border-radius: 5px;
  background-color: #1b2e32;
  /* Darker dark green background color */
  color: #e0e0e0;
  /* Light gray text color */
}

form label {
  color: #e0e0e0;
  /* Light gray text color */
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #4b757b;
  /* Dark green border color */
  border-radius: 5px;
  background-color: #1b2e32;
  /* Darker dark green background color */
  color: #e0e0e0;
  /* Light gray text color */
}

form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #4b757b;
  /* Dark green border color */
  border-radius: 5px;
  background-color: #1b2e32;
  /* Darker dark green background color */
  color: #e0e0e0;
  /* Light gray text color */
}

button {
  background-color: #007bff;
  /* Blue button background color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
  /* Darker blue button color on hover */
}

.hidden {
  display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .search-container {
    flex-direction: column;
  }

  #search-form {
    flex-direction: column;
    width: 100%;
  }

  #search-input {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
