/* MENU STYLES */
nav {
  margin-bottom: 40px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav li a {
  float: left;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
}

nav li a:hover {
  background-color: #f0f0f0;
}

/* SETTINGS MENU STYLES */
#settings_menu {
  border: white solid 1px;
}

#general_settings {
  display: grid;
  grid-template-columns: auto auto auto auto;
  place-items: center;
}

#blind_structure {
  display: grid;
  grid-template-columns: auto auto auto auto;
  place-items: center;
}

/* Hide number input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
  width: 40%;
  background-color: white;
  border: none;
  border-radius: 10px;
}
